body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 0 gray;
  
}

.panel-item {
  padding: 1rem;
  margin: 20px 250px; /*top, right, down, right*/
}

.car{
	border-radius: 5px;
	margin: 5px;
	width: 242px;
	height: 145px;
}

.car-mini{
	width: 70px;
	height: 40px;
	border-radius: 10px;
	padding: 0px 5px;
}

.car-title{
	font-size: 18px;
	font-weight: normal;
	padding: 5px 10px;
}

.car-details{
	font-size: 12px;
	font-weight: normal;
	padding: 0px 10px;
}

.car-price{
	font-size: 18px;
	font-weight: bold;
	padding: 5px 10px;
	color: red;
}

.car-desc{
	font-size: 11px;
	font-weight: normal;
	padding: 0px 10px;
	font-style: italic;
	color: gray;
	overflow: hidden;
  	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.car-owner{
	font-size: 12px;
	padding: 50px 10px 0px 10px;
}

.owner-icon{
	padding: 0px 5px;

}